.checkout-box {
  width: 80%;
  margin: auto;
  text-align: center;
}

.btn-group {
  margin-top: -70px;
  background-color: rgb(255, 255, 255);
  width: 80%;
}

@media (min-width: 500px) {
  .checkout-box {
    width: 500px;
  }
}
